[Unit]
Description=Mount cartridge for device %i
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
Restart=no
ExecStart=/home/mocha/launch_systemd.sh %i

[Install]
WantedBy=graphical-session.target
